#authModal {
  position: fixed;
  z-index: 999999; /* above everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.99);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

/* Modal content */
#authModal .modal-content {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#authModal input {
  width: 90%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#authModal button {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  background: #f03b90;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

body.locked * {
  animation-play-state: paused !important;
  transition: none !important;
}
body.locked video {
  pointer-events: none;
}
